* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

html {
    color: #000;
}

body {
    font: caption;
    padding: 10px;
}

.button {
    padding: 6px 20px;
    color: #fff;
    background-color: #0275d8;
    border-radius: 5px;
    border: none;
}

.picture {
    width: calc(20% - 6px);
    margin: 3px;
}

.tint-done {
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(70deg);
}

.tint-failed {
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(360deg);
}

#pics {
    width: 100%;
    height: 200px;
    margin: 0 auto 10px;
    border: 1px solid black;
    overflow: auto;
    overflow-x: hidden;
}

/*  */
#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#restart-button {
    color: #fff;
    background-color: #0275d8;
}

.hidden {
    display: none;
}

#restart-button.disabled {
    background-color: rgba(238, 238, 238, 0.95);
    color: #808080;
}