* { box-sizing: border-box; }
html, body { margin: 0; }
html { color: #000; }

body {
    font: caption;
    padding: 6px;
}

h1 { margin-top: 0; }

.picture {
    width: calc(20% - 10px);
    margin: 5px;
    padding: 1px;
    border: 2px solid #353535;
}

.picture[data-selected="true"] {
    border-color: #0275d8;
}

#deleteButtonContainer {
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
}

#deleteButtonContainer > div {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
}

#pics {
    width: 100%;
    height: 470px;
    margin: 0 auto 8px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
}

#progress {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #1b4f80;
    border-radius: 5px;
}

#progress > div {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0b243b;
    width: 0;
    height: 50px;
    border-radius: 5px;
}

#button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 40px;
    color: white;
    background-color: transparent;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#restart-button {
    color: #fff;
    background-color: #0275d8;
    border: none;
}

#restart-button.disabled {
    background-color: rgba(238, 238, 238, 0.95);
    color: #808080;
}

.hidden { display: none; }
